@use "../abstracts/variables";

.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 40px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.2);
  }

  &:active {
    transform: translate(-0.1rem);
    box-shadow: 0 0.5rem 0.1rem rgba(variables.$color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--white {
    background-color: variables.$color-white;
    color: variables.$color-gray-dark;

    &::after {
      background-color: variables.$color-white;
    }
  }

  &--animated {
    animation: moveInButton 0.5s ease-in 0.75s;
    animation-fill-mode: backwards;
  }
}
