@use "../abstracts/variables";
@use "../abstracts/mixins";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: variables.$color-gray-dark;
}

.heading {
  &-primary {
    color: variables.$color-white;
    text-transform: uppercase;

    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include mixins.respondMax(variables.$phone) {
        font-size: 5rem;
        letter-spacing: 1rem;
      }
    }

    &--sub {
      display: block;
      font: {
        size: 2rem;
        weight: 700;
      }
      letter-spacing: 1.74rem;
      margin-bottom: 6rem;
      animation: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      backface-visibility: hidden;

      @include mixins.respondMax(variables.$phone) {
        letter-spacing: 0.5rem;
      }
    }
  }

  &-secondary {
    font: {
      size: 3.5rem;
      weight: 700;
    }
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      rgba(variables.$color-primary-light, 0.8),
      rgba(variables.$color-primary-dark, 0.8)
    );
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.2s;

    @include mixins.respondMax(variables.$tablet-portrait) {
      font-size: 3rem;
    }

    @include mixins.respondMax(variables.$phone) {
      font-size: 2.5rem;
    }

    &:hover {
      transform: skew(15deg, 2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(variables.$color-black, 0.2);
    }
  }

  &-tertiary {
    font: {
      size: variables.$default-font-size;
      weight: 700;
    }
    text-transform: uppercase;
  }
}

.paragraph {
  font-size: variables.$default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
